asgiref
awsebcli
bcrypt
black
blessed
botocore
cement
certifi
cffi
charset-normalizer
click
colorama
coverage
coveralls
cryptography
decorator
decouple
deprecated
dj-database-url
django
django-cors-headers
djangorestframework
docopt
fabric
flake8
gunicorn
idna
invoke
jmespath
mccabe
mypy-extensions
packaging
paramiko
pathspec
pillow
platformdirs
psycopg2-binary
pycodestyle
pycparser
pyflakes
pynacl
python-dateutil
python-dotenv
pytokens
pyyaml
requests
semantic-version
setuptools
six
sqlparse
termcolor
urllib3
wcwidth
whitenoise
wrapt

