# Core Django packages
asgiref
Django
djangorestframework
django-cors-headers
django-storages
dj-database-url
sqlparse

# Database
psycopg2-binary==

# AWS/S3 Storage
boto3
botocore

# Web Server
gunicorn
whitenoise

# Image Processing
pillow

# Environment Variables (choose one - python-dotenv is recommended)
python-dotenv

# we should REMOVE THIS if decouple dependency/requirement
# since we r using python-dotenv
# decouple  

# Security & Encryption
cryptography
bcrypt
PyNaCl
cffi

# AWS Elastic Beanstalk CLI (keep if you use 'eb' commands)
awsebcli
blessed
botocore
cement
colorama
semantic-version
termcolor
wcwidth

# SSH/Remote Deployment
fabric
paramiko
invoke
decorator

# Testing & Code Quality
coverage
coveralls
black
flake8
pycodestyle
pyflakes
mccabe

# HTTP Requests & Utilities
requests
certifi
charset-normalizer
idna
urllib3

# Data/Config Parsing
PyYAML
docopt

# Python Utilities
click
python-dateutil
setuptools
six
wrapt
packaging
pathspec
platformdirs
pycparser
jmespath
mypy-extensions

# Other (verify if needed)
deprecated
pytokens